/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    .banner_main{
        width: 100;
    }
    /*nada para alterar aqui por enquanto*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 30px 15px;
        font-size: 15px;
    }

    .header_topo {
        padding-top: 10px;
        height: 145px;
        width: 100%;
    }

    .banner_main {
        min-height: 100%;
    }

    .project .titulos-principais h2 {
        font-size: 32px;
        color: #3F2014;
        line-height: 100px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .escolhas h1 {
        font-size: 28px;
    }

    .escolhas .esc-img {
        height: 80%;
        width: 112%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .d_none1 {
        display: none !important;
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 23px 8px;
        font-size: 14px;
    }

    .header-menu {
        height: 60px;
    }

    .banner_main {
        width: 100%;
    }

    .project .titulos-principais h2 {
        font-size: 32px;
        color: #3F2014;
        line-height: 100px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .sabores img {
        width: 100px;
        margin-bottom: 0px;
    }

    .sabores .sab_box {
        height: 90%;
        width: 80%;
        border-radius: 20px;
        align-items: center;
    }
    .destaques h3{
        font-size: 20px;
    }
    .destaques h4{
        font-size: 16px;
    }

    .escolhas img {
        width: 100px;
        margin-bottom: 0px;
    }

    .escolhas h1 {
        font-size: 26px;
    }

    .escolhas p {
        font-size: 14px;
    }

    .escolhas .esc-img {
        height: 60%;
        width: 110%;
    }

    .escolhas .esc-icons {
        text-align: center;
        align-items: center;
    }

}


@media (min-width: 576px) and (max-width: 767px) {
    .d_none1 {
        display: none !important;
    }

    .banner_main {
        width: 100%;
    }

    .project .titulos-principais h2 {
        font-size: 30px;
        color: #3F2014;
        line-height: 100px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    .sabores .sab_box {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 20px;
        align-items: center;
    }
    .destaques .dest_box{
        background-color: aquamarine;
        width: 70%;
    }

    .escolhas h1 {
        font-size: 26px;
    }

    .escolhas p {
        font-size: 14px;
    }

    .escolhas .esc-img {
        display: none !important;
}

    .escolhas .esc-icons {
        text-align: center;
        align-items: center;
    }

    .footer h3 {
        padding-top: 20px;
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        padding-top: 2px !important;
    }

    .navigation .navbar-collapse {
        background: #FFE2CB;
        padding: 20px;
        margin-top: 24px;
        position: absolute;
        width: 100%;
        z-index: 999;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 13px 0;
        color: black;
    }

    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #FACBA4;
        background-color: inherit;
    }

    .navigation.navbar-dark .navbar-nav .active>.nav-link,
    .navigation.navbar-dark .navbar-nav .nav-link.active,
    .navigation.navbar-dark .navbar-nav .nav-link.show,
    .navigation.navbar-dark .navbar-nav .show>.nav-link {
        color: #FACBA4;
        background-color: inherit;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
        width: 64px;
        height: 44px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .d_none1 {
        display: none !important;
    }

    .logo {
        float: center;
        border: inherit;
        margin-top: 0px !important;
    }

    .banner_main {
        width: 100%;
    }

    .project .titulos-principais h2 {
        font-size: 24px;
        color: #3F2014;
        line-height: 100px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
    .project .titulos-principais img{
        width: 80px;

    }

    .sabores .sab_box {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
        margin-top: 15px;
        margin-bottom: 20px;
        width: 70%;
        border-radius: 20px;
        align-items: center;
    }

    .escolhas h1 {
        font-size: 26px;
    }

    .escolhas p {
        font-size: 14px;
    }

    .escolhas .esc-img {
            display: none !important;
    }

    .escolhas .esc-icons {
        text-align: center;
        align-items: center;
    }


    .footer h3 {
        padding-top: 20px;
        font-size: 20px;
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        margin-top: -68px;
    }

    .navigation .navbar-collapse {
        background: #FFE2CB;
        padding: 20px;
        margin-top: 68px;
        position: absolute;
        width: 100%;
        z-index: 9999;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: black;
    }

    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: burlywood;
        background-color: inherit;
    }

    .navigation.navbar-dark .navbar-nav .active>.nav-link,
    .navigation.navbar-dark .navbar-nav .nav-link.active,
    .navigation.navbar-dark .navbar-nav .nav-link.show,
    .navigation.navbar-dark .navbar-nav .show>.nav-link {
        color: burlywood;
        background-color: inherit;
    }

    .navigation.navbar-dark .navbar-toggler {
        float: right;
        padding: 0;
        border: inherit;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu-burguerv1.png);
        background-repeat: no-repeat;
        width: 50px;
        height: 44px;
        margin-top: -50px;
    }
}