.project-historia {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-historia .img-luh img {
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

.project-historia .historia-luh {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid;
    border-color: #EED0B3;
    margin-left: 0%;
}

.historia-luh h1 {
    text-align: center;
    color: #3F2014;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.historia-luh h2 {
    text-align: center;
    color: #3F2014;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 80%;
    margin-top: 5%;

}

.project-historia .titulos-principais {
    text-align: center;

}

.project-historia .titulos-principais h2 {
    text-align: center;
    font-size: 34px;
    color: #502a1a;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    margin-left: 0.5%;
    margin-top: 70px;
}

.trajetoria {
    width: 100%;
}

.trajetoria .coluna1 {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 30px;
}

.trajetoria .coluna1 img {
    width: 100%;
    height: 100%;
    margin-left: 40%;
    margin-top: 20px;
}

.trajetoria h1 {
    font-size: 30px;
    color: #502a1a;
    line-height: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: 25%;
    margin-top: 20px;
}

.trajetoria h2 {
    font-size: 18px;
    margin-left: 25%;
    opacity: 80%;
}

.trajetoria .coluna2 {
    height: 100%;
    width: 40%;
    float: left;
    margin-left: 2%;
    margin-top: 30px;
}

.trajetoria .coluna2 img {
    width: 40%;
    height: 100%;
    margin-left: 40%;
    margin-top: 20px;
}

.trajetoria .coluna2 h1 {
    text-align: left;
}


.clear {
    clear: both;
}

.trajetoria .linha {
    border-left: 2px solid;
    height: 190%;
    opacity: 50%;
    position: absolute;
    left: 50%;
    margin-left: 3px;
}