/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/



/*O que engloba tudo*/
.main-layout {
     height: 100%;
     width: 100%;
     overflow-x: hidden
}

/*O que engloba tudo*/


* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     height: 100%;
     overflow-x: hidden
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 30px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 22px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/



/*-- header area --*/

.header {
     width: 100%;
     background: #fff;
}


.header_topo {
     padding: 10px 0;
     height: 135px;
}

.email-icon {
     margin-left: 22%;
}

.email-icon li a:hover {
     color: #FACBA4;
     text-decoration: none;
}

.logo {
     text-align: center;
     display: block;
}

ul.conta_icon li a {
     color: #3F2014;
     font-size: 13px;
}

ul.conta_icon li a:hover {
     color: #FACBA4;
     text-decoration: none;
}

ul.right_icon {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
}

ul.right_icon li img {
     margin-right: 30px;
}

.order {
     padding-top: 2px;
     float: right;
     max-width: 120px;
     font-size: 14px !important;
     color: rgba(0, 0, 0, 0.801) !important;
     height: 28px;
     width: 100%;
     border: 1px solid #FFE2CB;
     display: block;
     text-align: center;
     border-radius: 20px;
}

.order img {
     padding-bottom: 2px;
}

.order:hover {
     background-color: #FACBA4;

}


/*--   navigation--*/

.snip1143 * {
     box-sizing: border-box;
     -webkit-transition: all 0.35s ease;
     transition: all 0.35s ease;
}

.snip1143 li {
     display: inline-block;
     list-style: outside none none;
     margin: 0 1.5em;
     overflow: hidden;
     position: relative !important;
     top: -27px;
}

.snip1143 a {
     padding: 0.3em 0;
     color: rgba(36, 34, 34, 0.5);
     position: relative;
     display: inline-block;
     letter-spacing: 1px;
     margin: 0;
     text-decoration: none;
     font-size: 17px;
     line-height: 20px;
     font-weight: 400;
     line-height: 80px;
     font-size: 13px;
}

.snip1143 a:before,
.snip1143 a:after {
     position: absolute;
     -webkit-transition: all 0.35s ease;
     transition: all 0.35s ease;
}

.snip1143 a:before {
     top: 100%;
     display: block;
     height: 5px;
     width: 100%;
     content: "";
     background-color: #FACBA4;
}

.snip1143 a:after {
     padding: 0.3em 0;
     position: absolute;
     top: 100%;
     left: 0;
     content: attr(data-hover);
     color: rgb(0, 0, 0);
     white-space: nowrap;
}

.snip1143 li:hover a,
.snip1143 .current a {
     transform: translateY(-100%);
}

.header-menu {
     background-color: #ffffff;
     height: 60px;
     width: 100%;
}

/*

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 30px 24px;
     color: #3F2014;
     font-size: 17px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     background-color: #FACBA4;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     background-color: #FACBA4;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
} */

.search {
     padding: 9px 0;
     text-align: right;
}

.form_sea {
     border-radius: 20px;
     border: #FFE2CB solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
     font-size: 13px;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #b7b7b7;
}


/*-- marker-end sidebar  navigation--*/


/** banner section **/


/** end banner section **/

/*relacionado ao menu topo*/
.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

/*relacionado ao menu topo*/


/** project section **/

.project #logoitem {
     margin-top: 15px;
}

.project {
     background-size: 100% 100%;
     padding: 20px 0 20px 0;
     align-items: center;
     text-align: center;

}

.project .titulos-principais {
     text-align: center;

}

.project .titulos-principais h2 {
     font-size: 34px;
     color: #502a1a;
     line-height: 100px;
     font-weight: bold;
     text-align: center;
     margin-top: -20px;
}

/*inicio seção sabores*/

li {
     list-style: none;
}

input[type="radio"] {
     display: none;
}

.js-slider {
     position: relative;
     width: 80%;
     height: 100vh;
     margin: 0 auto;
     margin-bottom: 10%;
}

.js-slider_item {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     padding: 1rem 3rem;
     opacity: 0;
     visibility: hidden;
     transform-origin: right center;
     transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
     transition: all 1s ease, transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);
}

#s-1:checked~.js-slider .js-slider_item.img-1,
#s-2:checked~.js-slider .js-slider_item.img-2,
#s-3:checked~.js-slider .js-slider_item.img-3 {
     opacity: 1;
     visibility: visible;
     transform-origin: left center;
     transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}

.js-slider_img {
     width: 100%;
     height: 60%;
     position: relative;
     overflow: hidden;
}

.c-img-w-full {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     height: auto;
     transform: translate3d(-50%, -50%, 0);
}

.c-img-h-full {
     position: absolute;
     top: 50%;
     left: 50%;
     width: auto;
     height: 100%;
     transform: translate3d(-50%, -50%, 0);
}

figcaption {
     display: block;
}

.wo-h3 {
     margin-top: 6rem;
     margin-bottom: 2rem;
     padding-bottom: 2rem;
     border-bottom: 1px solid #3F2014;
}

.c-label {
     display: inline-block;
     color: #3F2014;
     background-color: #FACBA4;
     line-height: 1;
     padding: 0.5em 0.9em;
     margin-right: 0.5em;
     font-size: 1.4rem;
     font-weight: bold;
     border-radius: 20px;
}

.view-sm {
     display: none;
}

.setas {
     position: absolute;
     left: 0;
     top: 50%;
     width: 100%;
     transform: translate3d(0, -50%, 0);
}

.setas_item.prev {
     left: 0;
     transform: rotate(180deg);
}

.setas_item.next {
     right: 0;
}

.setas_item {
     position: absolute;
     display: none;
     cursor: pointer;
     transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#s-1:checked~.js-slider .setas .s-nav-1,
#s-2:checked~.js-slider .setas .s-nav-2,
#s-3:checked~.js-slider .setas .s-nav-3 {
     display: block;
}

.js-slider_indicator {
     position: absolute;
     left: 0;
     top: 63%;
     width: 100%;
     text-align: center;
}

.js-slider-indi {
     position: relative;
     display: inline-block;
     padding: 2rem;
     cursor: pointer;
}

.js-slider-indi:after {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     width: 15%;
     height: 15%;
     border-radius: 1rem;
     background: #3F2014;
     transform: translate3d(-50%, -50%, 0);
}

.js-slider-indi:hover:after {
     transform: translate3d(-50%, -50%, 0) scale(1.5);
     transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#s-1:checked~.js-slider .js-slider_indicator .indi-1:after,
#s-2:checked~.js-slider .js-slider_indicator .indi-2:after,
#s-3:checked~.js-slider .js-slider_indicator .indi-3:after {
     transform: translate3d(-50%, -50%, 0) scale(2.5);
}

.items {
     position: absolute;
     top: 170%;
     left: 50%;
     transform: translate(-50%, -50%);
     user-select: none;
     margin-top: 16%;
}


.items .item {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 300px;
     height: 300px;
     border-radius: 50%;
     overflow: hidden;
     transition: all 300ms ease-in-out;
     z-index: -1;
     opacity: 0;
}

.item img {
     width: 700px;
     height: 100%;
     object-fit: cover;
}

.itens p {
     position: absolute;
     top: 50%;
     left: 50%;
     font-size: 34px;
     color: #502a1a;
     line-height: 100px;
     font-weight: bold;
     text-align: center;
     margin-top: -20px;
     margin-bottom: 15px;
}

.item.active {
     opacity: 1;
     z-index: 99;
     box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
     z-index: 2;
     opacity: 0.25;
     transform: translate(-125%, -50%);
}

.item.next {
     z-index: 2;
     opacity: 0.25;
     transform: translate(25%, -50%);
}

.items .button-container {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 275px;
     z-index: 100;
}

.button-container .button {
     color: #fff;
     font-size: 32px;
     cursor: pointer;
     position: relative;
     opacity: 0.75;
     transition: all 300ms ease-in-out;
}

.button-container .button:hover {
     opacity: 1;
}

.button-container .button:before {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50px;
     height: 50px;
     background-color: rgba(0, 0, 0, 1);
     border-radius: 50%;
     z-index: -99;
}

.button-container .button:nth-child(1) {
     float: left;
}

.button-container .button:nth-child(2) {
     float: right;
}




/*fim da seção sabores*/

/*inicio da seção destaques*/

.destaques {
     justify-items: center;
     margin-top: 20px;
     margin-bottom: 20px;
     background-color: #FFE2CB;
}

.destaques h2 {
     font-size: 35px;
     color: #3F2014;
     line-height: 100px;
     font-weight: bold;
     padding: 0;
     margin-bottom: 15px;
     text-align: center;
}

.destaques h3 {
     text-align: center;
     color: #3F2014;
     font-weight: bold;
     font-size: 23px;
     margin-top: 10px;
}

.destaques h4 {
     font-size: 18px;
     text-align: center;
     margin-top: 5px;
}

.destaques-boxes {
     height: 80%;
     width: 100%;
     display: flex;
     align-items: center;
     margin-bottom: 30px;
}


.destaques .dest_box {
     background-color: #ffffff;
     box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
     margin-top: 20px;
     margin-bottom: 20px;
     height: 90%;
     border-radius: 20px;
}

.dest_box img {
     max-width: 100%;
     max-height: 100%;
     background-position: center;
     width: 100%;
     height: 100%;
}

.dest_box .avaliar {
     padding: 20px;
     width: 40%;
     align-items: left;
}

.dest_box i {
     display: block;
}

.dest_box span {
     color: #000000;
     font-size: 17px;
     padding-top: 5px;
     display: block;
}

.project .destaques {
     text-align: center;
}

/*fim da seção destaques*/

/*inicio da seção escolha*/

.project .escolhas {
     height: 100%;
     width: 90%;
     text-align: center;
     display: flex;
     align-items: center;
     margin-left: 5%;
     margin-right: 5%;
}

.escolhas .escolha-text {
     color: #3F2014;
     margin-top: 10px;
}

.escolhas h1 {
     text-align: center;
     color: #3F2014;
     font-weight: bold;
     font-size: 30px;
     margin-top: 10px;
}

.escolhas h4 {
     text-align: center;
     color: #3F2014;
     font-weight: bold;
     margin-top: 10px;
}

.escolhas p {
     text-align: center;
     color: #3F2014;
     font-size: 16px;
     margin-top: 10px;
}

.escolhas .esc-text {
     height: 100%;
     padding-inline: 0px;
}

.escolhas .esc-icons {
     text-align: center;
     align-items: center;
}

.escolhas .esc-text h3 {
     padding-inline: 0px;
     font-size: 14px;
     font-weight: bold;
}

.escolhas .esc-img img {
     padding-top: 20px;
     width: 90%;
     height: 100%;
     margin-left: 10%;
}

/*fim da seção escolhas*/


/** footer **/

/** end footer **/


/** inner page css **/
.footer {
     background-color: #ECE6DE;
     padding-top: 40px;
     padding-bottom: 40px;
     text-align: center;
     height: 30%;
}

.footer h3 {
     color: #000;
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: center;
     padding-bottom: 20px;
     font-weight: 600;
}

.footer img {
     width: 100px;
}



/*footer -copyright*/

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background-color: #ECE6DE;

}

.copyright p {
     color: #0000009d;
     font-size: 18px;
     text-align: center;
}

.copyright a {
     color: #000000e0;
     text-align: center;
     padding-top: 10px;
}

.copyright a:hover {
     color: #FACBA4;
}

#logorodape {
     width: 200px;
}

/** end contact section **/

#link-topo {
     padding: 10px;
     position: fixed;
     right: 10px;
     bottom: 40px;
}