.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
    width: 85%;
    margin-left: 8%;
    
  }

  
  
  
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
section {

    min-height: 20vh;
    padding-top: 3rem;
}  

#bolos{

    text-align: center;
    align-items: center;
    font-size: 30px;
}

#doces{

    text-align: center;
    align-items: center;
    font-size: 30px;
}

#salgados{

    text-align: center;
    align-items: center;
    font-size: 30px;
}
.photo-gallery nav ul{

    list-style: none;
    display: flex;
    gap: 2rem;
    height: 2rem;
    width: 100%;
    
    align-items: center;

}

html{
    scroll-behavior: smooth;
}