.photo-gallery .intro {
  font-size: 16px;
  width: 50%;
  margin: 0 auto 0px;
  margin-top: 3%;
  padding: 2px;
}

.photo-gallery nav {
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 70px;
  flex-wrap: wrap;
}

.photo-gallery nav ul li a {
  color: #F1B36A;
  width: 100%;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  padding-top: 2px;
  max-width: 120px;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 30%;
  border: 1px solid rgba(0, 0, 0, 0.788);
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.photo-gallery nav ul li a:hover {
  background-color: #FACBA4;
  color: black;
}

.photo-gallery {
  color: #000000;
  background-color: #fff;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

.photo-gallery .photos {
  padding-bottom: 20px;
  width: 85%;
  margin-left: 8%;

}

.photo-gallery .item {
  padding-bottom: 30px;
}

section {
  min-height: 20vh;
  padding-top: 3rem;
  font-size: 30px;
  color: #3F2014;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.photo-gallery nav ul {

  list-style: none;
  display: flex;
  gap: 2rem;
  height: 2rem;
  width: 100%;
  align-items: center;

}

html {
  scroll-behavior: smooth;
}